
# Users Environment Variables
.lock-wscript
.DS_STORE
app/**/*.DS_STORE

# Sublime
*.sublime-*

# Components
dist
.tmp
.sass-cache
bower_components
node_modules


# SASS
*.scssc

#Istanbul Coverage
coverage