<md-card class="leaderboard">
	<md-toolbar md-scroll-shrink>
		<h4>Leaderboard</h4>
	</md-toolbar>

  <md-card-content>
    <table>
    <tr class="leaderboard-headers">
      <th>Name</th>
      <th>Title</th>
      <th>Github Repos</th>
      <th>Score</th>
    </tr>
    <tr ng-model="users" ng-repeat="user in users | orderBy: '-score'">
      <td>{{user.name}}</td>
      <td>{{user.rank}}</td>
      <td>{{user.repos}}</td>
      <td>{{user.score}}</td>
    </table>
  </md-card-content>
</md-card>
