/*
 *  _global.scss
 * -----------------------------------------
 *  Site-wide custom styles
 */

.app-container {
	padding-bottom: 5em;
	min-height: 80vh;
	background: whitesmoke;
}

.logout {
	position: absolute;
	top: 1em;
	right: 1em;
}

.view-leaderboard {
	max-width: 90%;
	@media ($medium-screen-up) {
		max-width: 650px;
	}
	margin: 0 auto;

	table {
		width: 100%;
	}

	h2 {
		text-align: center;
	}

}

.land {
	text-align: center;
}

.view-title,
.view-actions {
	@include span-columns(12);
}
.view-title {
	text-align: center;
	padding: 4em 1em;
	font-size: 0.75em;
	h2 {
		margin: 0;
	}
}
.view-actions {
	background: white;
	padding: 3em;
	border-radius: 1em;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

md-checkbox,
md-label,
md-radio-group {
	border: none;
}

md-card {
	background-color: white;
}


@import "navigation";
