/*
 *  _global.scss
 * -----------------------------------------
 *  Site-wide custom styles
 */

.app-container {
	padding-bottom: 5em;
	background: whitesmoke;
}

.logout {
	position: absolute;
	top: 1em;
	right: 1em;
}

.view-title,
.view-actions {
	@include span-columns(10);
	@include shift(1);
}
.view-title {
	text-align: center;
	padding: 4em 1em;
	font-size: 0.75em;
	h2 {
		margin: 0;
	}
}
.view-actions {
	background: white;
	padding: 3em;
	border-radius: 1em;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}


@import "navigation";
