/*
 *  _global.scss
 * -----------------------------------------
 *  Site-wide custom styles
 */

.app-container {
	padding-bottom: 5em;
	background: whitesmoke;
}

.logout {
  float: right;
}

@import "navigation";
