/*
 *  _navigation.scss
 * -----------------------------------------
 *  Site-wide nav-bar
 */

header.header {
	position: relative;
	padding: 3em 0 0 0;
	box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
	nav.navbar {
		text-align: center;
		@include outer-container;
		.navbar-header {
			h1 {
				margin-bottom: 0.25em;
    		margin-top: -0.667em;
    		font-size: 5em;
				font-family: 'Lobster', handwriting;
			}
			@include span-columns(12);
		}
		.navbar-brand {
			color: white;
			text-shadow: 
				0 0 1px black, 
				0 0 2px black, 
				0 0 3px black;
			position: relative;
			z-index: 5;
			@include transition(0.2s);
			&:hover {
				color: whitesmoke;
				text-shadow: 
					0 0 1px black, 
					0 0 2px black, 
					0 0 3px black,
					0 0 4px black,
					0 0 5px black;
			}
		}
		.navbar-nav {
			li {
				display: inline-block;
				padding: 0 1em;
				margin: 1em;
			}
			padding-bottom: 1em;
			@include span-columns(12);
		}
	}
}
