<div class="employer">
  <div class="view-title">
    <h2> {{ employer.name }} </h2>
  </div>

  <div class="view-actions">

    <h4> Current Missions </h4>
    <div ng-model="employer" class="public-to-dos"
      ng-repeat="task in tasks" ng-click="completeTask(task.type)">
      <h5> {{ task.title }} </h5>
      <p>
        {{ task.description }} {{ employer.name }} to earn
        <b>{{ task.score }}</b>
        doubloons.
      </p>
    </div>

    <h4> Achievements </h4>
    <div ng-model="employer" class="recent-activity"  ng-repeat="achievement in achievements">
      <h5> {{ achievement.title }} </h5>
      <p>
        {{ achievement.description }} {{ employer.name }} to earn
        <b>{{ achievement.score }}</b>
        doubloons.
      </p>
    </div>
  </div>
</div>
<br><div class="view-actions" ui-view="new"></div>
