<div class="new-job-view" layout="column">
  <md-toolbar md-scroll-shrink>
    <h4>Add a New Job</h4>
  </md-toolbar>

  <form novalidate>
    <md-input-container>
      <label>Employer Name</label>
      <input ng-model="newEmployer.name">
    </md-input-container>
    <md-input-container>
      <label>Job Description</label>
      <input ng-model="newEmployer.job">
    </md-input-container>
    <md-button class="next md-raised md-primary" ng-click="newJob()">Add This Job</button>
  </form>
</div>
