/*
 *  _onboard.scss
 * -----------------------------------------
 *  Main onboard styles
 */

.onboard {
	.steps-nav {
		margin: 2em 0 0 0;
		overflow: inherit;
	}
	.next {
		float: right;
	}
}

.add-file {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

input {
	margin: auto;
	display: block;
}
