<md-card class="achievements">
  <md-toolbar md-scroll-shrink>
    <h4>Achievements</h4>
  </md-toolbar>
  <md-card-content>
    <md-list>
      <md-item ng-model="employer" ng-repeat="achievement in achievements">
        <md-item-content class="achievement">
          <div class="md-tile-left">
            <span class="icon icon-trophy fs2"></span>
          </div>
          <div class="md-tile-content">
            <h3>{{ achievement.title }}</h3>
            <h4>{{ achievement.employer }}</h4>
            <p>
              <span class="achievement">
                {{ achievement.description }} {{ achievement.employer }} to earn
                <b>{{ achievement.score }}</b>
                doubloons.
              </span>
              <span class="task-date">
                Completed on {{ achievement.date }}
              </span>
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-card-content>
</md-card>
