<md-card class="employers">
	<md-toolbar md-scroll-shrink>
		<h4>Employers</h4>
	</md-toolbar>
  <md-card-content>
		<md-item ng-model="employer" ng-repeat="employer in employers" ui-sref="employer({employer: employer.name})">
			<md-item-content class="employer">
				<div class="md-tile-left">
					<span class="icon icon-coin fs1"></span>
				</div>
				<div class="md-tile-content">
					<h3>{{ employer.name }}</h3>
					<p>{{ employer.description }}</p>
				</div>
			</md-item-content>
		</md-item>

  <md-button ui-sref="employer({employer: 'new job'})" class="add-job md-fab md-primary" aria-label="Add a Job">
      <md-tooltip>Add a Job</md-tooltip>
      <md-icon md-svg-src="/images/cross.svg"></md-icon>
  </md-button>
</md-card>

<!-- ng-click="showEmployer(employer.name)" -->
