<md-card class="to-do">
  <md-toolbar md-scroll-shrink>
    <h4>Current Missions</h4>
  </md-toolbar>
  <md-card-content>
    <div ng-model="employer" class="public-to-dos"
      ng-repeat="task in tasks" ng-click="clickTask(task)">
      <h5> {{ task.title }} </h5>
      <ul>
        <li>
          <span class="icon {{ task.icon }} fs2"></span>
          <span class="task">
            {{ task.description }} {{ task.employer }} to earn
            <b>{{ task.score }}</b>
            doubloons.
          </span>
        </li>
      </ul>
    </div>
  </md-card-content>
</md-card>
