<md-card class="to-do">
  <md-toolbar md-scroll-shrink>
    <h4>{{ page }} Missions</h4>
  </md-toolbar>
  <md-card-content>
    <md-list>
      <md-item ng-model="employer" ng-repeat="task in tasks">
        <md-item-content class="task">
          <div class="md-tile-left">
            <span class="icon {{ task.icon }} fs2"></span>
          </div>
          <div class="md-tile-content">
            <h3>{{ task.title }}</h3>
            <h4>{{ task.employer }}</h4>
            <p>
              <span class="task">
                {{ task.description }} {{ task.employer }} to earn
                <b>{{ task.score }}</b>
                doubloons.
              </span>
            </p>
            <md-button ng-click="clickTask(task)" class="prev md-raised">Mark Done</md-button>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-card-content>
</md-card>
